html{
  scroll-behavior: smooth
}

::-moz-selection { 
  color: white;
  background: #4484CE;
}

::selection {
  color: white;
  background: #4484CE;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/* navbar */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #4484CE;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo a{
 color: hsl(0, 0%, 97%); 
 text-decoration: none;
 text-transform: uppercase;
 letter-spacing: 4px;
 font-size: 1.5rem;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 70%;
  padding-bottom: 0;
}

.nav-links a{
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.2rem;

}

.nav-links li{
  list-style: none;

}

.burger div{
  width: 25px;
  height: 3px;
  border-radius: 1px;
  background-color: hsl(0, 0%, 97%);
  margin: 5px;
  transition: all 0.3s ease;
}

.burger {
  display: none;
}

@media screen and (max-width: 1024px){

  .nav-links a{
    letter-spacing: 0px;
  }
  #aidan{
    display: none; 
  }
  .head-break{
    display: none;
  }
}

@media screen and (max-width: 768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 95vh;
    top: 7.5vh;
    background-color: #4484CE;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
     display: block;  
     cursor: pointer; 
  }
  #aidan{
    display: none;
  }
  .head-break{
    visibility: hidden;
  }
  table {
    width: 30%
  }
  .mobile-table {
    display: none;
  }
  h5 {
    margin-top: .5rem;
    font-size: 1.2rem;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px)
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}

/* Main Body */
body{
  padding-top: 10px;
  color: black;
  font:normal 15px 'Poppins', sans-serif;
  line-height: 1.6em;
}

div{
  margin:auto;
  line-height: 5rem: 
}

h1{
  color:  #4484CE;
  margin: 2rem;
  font-size: 2.5rem;
  line-height: 5rem: 
}

h2, h3{
  margin: .5%;
}

h3{
  color: #4d4d4d;
  font-style: italic;
}

p{
  color: #4d4d4d;
  font-size: 1rem;
  padding-bottom: 1rem; 
  text-align: justify;
}

ul{
  padding-left: 4%;
  padding-bottom: 3%;
}

li{
  font-size: 1.1rem;
  line-height: 2rem;
  color: #4d4d4d;
  text-align: justify;
}

table {
  width: 90%;
}

th{
  font-size: 20px;
  text-align: left;
  padding-bottom: 0;
}

td{
  font-size: 1rem;
  text-align: left;
  padding-left: 1%;
}

.container:nth-child(even){
  
  background: white;
  margin-width: 100%;
  padding: 5px 5%;
  /*
  border: 2px solid black;
  */
}

.container:nth-child(odd){

  background: hsl(0, 0%, 97%);
  margin-width: 100%;
  padding: 5px 5%;
 /*
  border: 2px solid black;
  */
}

.indent{
  margin-top:  15px;
  margin-width: 70%;
}

.indent a {
  text-decoration: none;
  font-weight: bold;
  color: black;

}

.indent a:hover, a:active{
  background-color: rgb(234,227,203,.60);
  border-radius: 5px;
}

.indent a:visited{
  font-weight: bold;
  color:black;
}

.icons-div{
  text-align: center;
}

.icon{
  width: 52px;
  filter: gray; 
  -webkit-filter: grayscale(1); 
  filter: grayscale(1); 
}

.icon:hover{
  -webkit-filter: grayscale(0);
  filter: none;
}

#aidan {
  margin:auto;
  border-radius: 50%;
  padding:1px;
  margin-right: 1rem;
  margin-bottom: .25rem;
  border:.25px solid #4d4d4d;;
  background-color: #4d4d4d;
  max-width: 200px;
  float: left;
}

h5{
  margin-top: .7rem;
  margin-bottom: 1.3rem;
  line-height: 1.4rem;
  font-size: 1.4rem;
  color: #4d4d4d;
}

h6 {
  padding: .25rem 0rem;
  font-size: 3.4rem;
  font-style: bold;
  color: black;
  line-height: 2.9rem;
}

#titleIntro{
  margin-top: 1rem;
  font-size: 1.8rem;
}

#email{
  color: 
}

.makeBlue{
  color:  #4484CE;
}

#googleForm{
  width: 100%;
  height:1050px;
  margin:0;
  border-style: none;
}

#main-footer{
  background-color: hsl(0, 0%, 97%); 
  padding: 15px;
  text-align: center;
}

/*wave animation*/
span.wave {
  font-size: 2.7rem;
  animation-name: waveAnimation;
  animation-duration: 2s;
  animation-iteration-count: 3;
  transform-origin: 65% 65%;
  display: inline-block;
}

@keyframes waveAnimation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-12deg);
  }
  20% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-12deg);
  }
  40% {
    transform: rotate(11deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
